.Control {
    position: absolute;
    top:330px;
    margin: auto;
    left:80px;
} 


@media (min-width: 500px) {
    .Control {
        position: absolute;
        top:15px;
        margin: auto;
        left:500px;
    } 
}